<form method="POST" action="/articles">
  <label for="title">Title: </label>
  <input id="title" name="title" type="title">
  <label for="contnet">Content: </label>
  <input id="content" name="content" type="text">
  <input id="submit" type="submit">
</form>
